body {
    font-family: Arial;
    background: #f2f4f7;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

form {
    background: white;
    padding: 20px;
    width: 300px;
    border-radius: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 5px;
}

.error {
    color: red;
    font-size: 12px;
    height: 14px;
}

.error-border {
    border: 2px solid red;
}

.success-border {
    border: 2px solid green;
}
